<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/articles" method="post">
      <h1>Create a New Title:</h1>
      <h2>Title: <input type="text" name="title"></h2>
      <h2>Content: <input type="text" name="content"></h2>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
